<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RisScannedFilesPath" value="\\\\NOLWEB-FTP\\FtpRoot\\"/>
  </appSettings>
  <connectionStrings>
    <add name="eRISConnectionString" connectionString="Data Source=PMR-SQL03;Initial Catalog=dashboard;Persist Security Info=True;User ID=dashboard;Password=d@shb0@rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="eRIS.Web.eRISService.customBinding0">
          <binaryMessageEncoding/>
          <httpsTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="eRIS.Web.eRISService">
        <endpoint address="" binding="customBinding" bindingConfiguration="eRIS.Web.eRISService.customBinding0" contract="eRIS.Web.eRISService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>